#main_stream_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: content;
  justify-content: space-around;
  border: 2px solid #000000;
}

#main_stream_container div {
  border: 1px solid #ff00ff;
  width: 30%;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}