:root {
  --rounding: 8px;
}

body {
  /* font-family: sans-serif; */
  font-family: sans-serif;
}

#main_stream_container {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: content;
  justify-content: space-evenly;
  min-height: 60vh;
}

.stream_column {
  border: 1px dotted #ff00ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  flex: 3;
}

.stream_column:nth-child(1) {
  flex: 1;
}

.stream_column:nth-child(2) {
  flex: 2;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #c0c0c0;
}

nav a {
  padding: 8px;
}

#page_title_header {
  justify-self: center;
}


.module_container {
  /* align-self: stretch; */
  justify-self: stretch;
  margin: 10px;
  border: 2px solid #0000ff;
  border-radius: var(--rounding);
  padding: 8px;
}

.button_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: stretch;
}

.button_row a {
  background-color: #c0c0c0;
  border-radius: var(--rounding);
  padding: 2px;
  display: inline-block;
  width: 100%;
  margin: 2px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_row a:hover {
  color: white;
  background-color: #606060;
}

.module_assignment_container {
  justify-self: stretch;
  margin: 10px;
  border: 2px solid #0000ff;
  border-radius: var(--rounding);
  padding: 2px;
}